body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background-music {
    display: none;
}

/* alles voor het hoofd menu */
#head-menu {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/santas_last_stand_background_menu.png);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: end;
}
#menu {
    width: 45vw;
    height: 50vh;
    margin-right: 3vw;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    gap: 10px;
}

#settings {
    width: 45vw;
    height: 50vh;
    margin-right: 3vw;
    background-color: white;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    gap: 10px;
}

#back {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 5vw;
    height: 5vh;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#back:hover {
    background-color: #f90;
    color: #fff;
    transform: scale(1.1);
}

#back:active {
    transform: scale(1.05);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

#game-title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: monospace;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

#menu-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-buttons:hover {
    background-color: #f90;
    color: #fff;
    transform: scale(1.1);
}

.menu-buttons:active {
    transform: scale(1.05);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}



/* alles voor het pauze scherm */
#pause-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#pause-menu {
    width: 30%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#paused-text {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 30px;
}

.pause-buttons {
    width: 25%;
    height: 15%;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 10px;
    /* padding: 15px 30px; */
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pause-buttons:hover {
    background-color: #f90;
    color: #fff;
    transform: scale(1.1);
}

.pause-buttons:active {
    transform: scale(1.05);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* alles voor het shop menu */
#shop-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #f90;
    z-index: 10;
}

/* alles voor het speelveld */
#playing-field {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    /* display: none; */
    /* overflow: hidden; */
}

#tileset {
    user-select: none;
    width: 300%;
    height: 300%;
    position: absolute;
    background: url('../img/snowfloor.png') repeat;
    background-size: 100px 100px;
    /* transform: translate(0, 0); */
}

#stats-container{
    position: absolute;
    width: 20vw;
    height: 20vh;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 1;
}

#wave-container {
    width: 100%;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
    font-family: monospace;
    user-select: none;
}

#xp-container {
    margin-top: 3%;
    margin-left: 2%;
    width: 100%;
    height: 15%;
    border-radius: 7px;
    border: 1px solid black;
}

#xp-progression {
    background-color: green;
    height: 100%;
    width: 0%;
    border-radius: 6px;
}

#playerHealt {
    margin: 0;
    margin-left: 2%;
    margin-top: 1%;
    width: 48%;
    height: 15%;
    /* position: absolute; */
    font-size: 15px;
    font-family: monospace;
    user-select: none;
}

#playerLvl {
    margin: 0;
    margin-top: 1%;
    width: 50%;
    height: 15%;
    text-align: right;
    /* position: absolute; */
    font-size: 15px;
    font-family: monospace;
    user-select: none;
}

#coins {
    margin: 0;
    margin-left: 2%;
    width: 48%;
    height: 100%;
    /* position: absolute; */
    font-size: 15px;
    font-family: monospace;
    user-select: none;
}

#playerBase {
    position: absolute;
    width: 80px;
    height: 80px;
    /* background-image: url(../img/run_sheet.png);
    background-size: 480px 80px;
    background-position-x: 400px;
    background-position-y: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    z-index: 1;
    /* transform: scaleX(1); */
}

#player {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
    z-index: 2;
    user-select: none;
}

#player-skin {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url(../img/run_sheet.png);
    background-size: 480px 80px;
    background-position-x: 400px;
    background-position-y: 0;
    z-index: 2;
    transform: scaleX(-1);
}

#weapon {
    width: 20px;
    height: 6px;
    background-color: black;
    overflow: visible;
    position: absolute;
    z-index: 3;
    left: 85px;
}

#bullet {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 0, 0);
    overflow: visible;
    position: absolute;
    z-index: 4;
}